article header h1,
article header p,
article header h1 {
  margin-bottom: 10px !important;
}

article header p {
  margin-bottom: 20px !important;
}

article a {
  font-weight: bold;
  text-decoration: underline;
}

article p {
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

article p:has(img) {
  text-align: center;
}

article img {
  max-width: 100% !important;
}
